h1{
    font-family: 'Indie Flower', cursive;
    color: #141b41
}
h2,h3{
    font-family:'Josefin Sans', sans-serif;
    color: #306bac
}
P{
    font-family: 'Raleway', sans-serif;
    color: #6f9ceb
}
#main{
    color: #98b9f2
}
