body{
    background-color: #98b9f2
}
header {
	margin: 10px auto;
	border: 1px solid #1f2a63;
	box-shadow: 0 0 30px #5579b8;
	text-align: center;
}
header img, .headings {
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
}
h1{
    font-family: 'Indie Flower', cursive;
    color: #918ef4
}
h2,h3{
    font-family:'Josefin Sans', sans-serif;
    color: #306bac
}
p{
    font-family: 'Raleway', sans-serif;
    color: #6f9ceb
}
li{
    color: #141b41
}
nav {
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	box-shadow: 0px 3px 3px #918ef4
	padding 0;
	overflow:hidden 
}
nav ul {
	list-style-type: none;
	padding: 0;
}
nav a {
	display: block;
	text-align: center;
	padding: 15px;
	text-decoration: none;
	font-size: 1.5rem;
}
nav a:hover {
	background-color: #1f2a63;
	color: #36454f;
}
.h li {
	display: inline-block;
}
.v li {
	display: block;
}
.mapouter {
	text-align: right;
	height: 500px;
	width: 600px;
}

.gmap_canvas {
	overflow: hidden;
	background: none !important;
	height: 500px;
	width: 600px;
}
img{
	max-width: 600px;
}