@media (min-width: 35em) {
	

	.topnav {
		flex-direction: row;
	}

	.topnav li:first-child {
		display:none;
	}

	.topnav li {
		display: block;
	}
	
	
	.article img {
		float: right;
		width: 300px;

	}

	.contactinformation {
		clear: both;
	}

	.forecast {
		display: block;
	}


}