* {
	margin:0;
	padding:0;
}

body{
		background-color: #98b9f2;
		font-size: 16px;
}

main, footer {
	max-width: 960px;
	margin: 0 auto;
}

h1{
	font-family: 'Indie Flower', cursive;
	color: #5579b8
}
h2,h3{
	font-family:'Josefin Sans', sans-serif;
	color: #306bac
}
p{
	font-family: 'Raleway', sans-serif;
	color: #6f9ceb
}


header {
	margin: 10px auto;
	border: 1px solid #1f2a63;
	box-shadow: 0 0 30px #5579b8;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.logo img {
	width: 100px;
	height: auto;
}

.headertext {
	display: flex;
	flex-direction: column;
}

.motto {
	margin-top: -10px;
}




nav {
	background-color: #000;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.topnav {
	list-style: none;
	display: flex;
	flex-direction: column;

} 

.topnav li {
	display: none;

}

.topnav li:first-child {
	display: block;
}

.topnav li a {
  display: block;
  padding: 8px;
	text-decoration: none;
	background-color: #306bac;
	color: #000;
	text-align: center;
	font-size: 1.2rem;
}

.topnav li a:hover {
	color: #0b3142;
	border-radius: 5px;
	box-shadow: 5px 5px 5px;
	}

.topnav li.active {
	text-decoration: underline;
}

.responsive li {
	display: block;
}

.herosection {
	position: relative;
}

.herosection img {
width: 100%;
height: auto;
}

.top-left {
  position: absolute;
  top: 10px;
	left: 10px;
	background-color: #36454f;
	border: solid thick#1f2a63;
	border-radius: 15px;
	padding: 10px;
}

.weathersummary {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: .5rem;
}

.weathersummary p:nth-child(odd) {
	text-align: right;
}


.forecast {
	display: none;
}

.article img {
	width: 100%;
	height: auto;
}

footer {
	margin: 0 auto;
	text-align: center;
	justify-content: space-between;
	border-top:solid 2px #1f2a63;
	padding: 10px;
	line-height: 3em;
	display:flex;
		  flex-flow: row wrap;
		  flex: 1 0 15em;  
}

